<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="javascipt.js"></script>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="layout.css" />
  <title>Hello, world!</title>
</head>

<body>
  <div id="wrapper">
    <div id="loginForm">
        <h1>Bạn tên gì ?</h1>
        <input type="text" id="username"/> 
        <button type="button" value="Đăng ký" id="btnRegister"> Đăng ký </button>
    </div>
    <div id="chatForm">
      <div id="left">
        <div id="boxTitle"><h3>Hiện đang online</h3></div>
        <div id="boxContent">
          <div class="userOnline"> Ngọc Phú </div>
          <div class="userOnline"> Ngọc Phú </div>
          <div class="userOnline"> Ngọc Phú </div>
          <div class="userOnline"> Ngọc Phú </div> 
          <div class="userOnline"> Ngọc Phú </div>
        </div>
      </div>
      <div id="right">
          <div id="sayHello">
            Hello <span id="nameUser"> Phú</span>
            <button type="button" id="btnLogOut" value="Logout">Đăng xuất</button>
          </div>
          <div id="listMessages">
            
          </div>
          <input type="text" id="txtMessages"/>
          <input type ="button" id= "btnSendMessages" value="Gửi">
      </div>
    </div>
  </div>
</body>

</html>